{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <h1>Регистрация</h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}

        <button type="submit">Зарегистрироваться</button>
    {{ form_end(form) }}

    <p>Уже есть аккаунт? <a href="{{ path('app_login') }}">Войти</a></p>
{% endblock %}